body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
}
.card {
    padding: 20px;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-container input[type="search"] {
    flex-grow: 1;
    margin-right: 10px;
}
.search-container button {
    width: auto;
    padding: 6px 12px;
}
.card-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.file-input {
    display: none;
}
.file-list {
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #ddd;
}
.file-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #f0f0f0;
}
.file-item:last-child {
    border-bottom: none;
}
.file-item .file-name {
    font-size: 0.9em;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
}
.file-item .file-checkbox {
    margin-right: 10px;
}
#file-options-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#file-options-container button {
    margin: 10px;
}
#file-options-container .d-flex {
    justify-content: center;
}
#close-iframe-btn {
    margin-top: 20px;
}
/* Stile per il pannello di visualizzazione */
#view-panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    height: 80%;
    overflow: hidden;
}
#view-panel iframe {
    width: 100%;
    height: 100%;
}
#close-view-panel-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
/* Stile per i risultati della ricerca */
.search-results {
    margin-top: 10px;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
}
.search-results ul {
    list-style-type: none;
    padding-left: 0;
}
.search-results li {
    padding: 8px;
    cursor: pointer;
}
.search-results li:hover {
    background-color: #f0f0f0;
}