
     /* Centrare il contenuto */
     .container.mt-5 {
        max-width: 900px; /* Larghezza massima del container */
        margin-left: auto;
        margin-right: auto;
        width: 100%; /* Utilizzare tutta la larghezza disponibile */
        padding: 0 15px; /* Aggiungere un po' di padding laterale */
    }
    
    /* Posizionare l'alert in alto a destra */
    #avviso {
        position: fixed;
        top: 20px;
        right: 20px;
        width: auto;
        z-index: 1050;
    }

    /* Modifica dell'aspetto della card per dispositivi mobili */
    .card {
        margin-bottom: 1rem;
    }
    /* Impedisci lo zoom su dispositivi mobili quando si clicca */
#btn-crea-ruolo {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    
}

.d-flex {
    display: block !important;
}

