{% extends 'hrms_app/base.html' %}
{% block title %} Permessi e ruoli {% endblock title %}
{% block content %}

<div class="white" >

    {% if ruolo %}
    <h1>Utente: {{user.nome}}<br>Ruolo:{{ruolo}}</h1>

    {% else %}
    <h1>Nessun ruolo assegnanto</h1>
    {% endif %}

    <h3>Permessi individuali dell'utente:</h3>

    <table border="1">
        <tbody>
            {% for perm in permessi_individuali %}
                {% if forloop.first or forloop.counter0|divisibleby:10 %}
                    <tr> <!-- Inizia una nuova riga ogni 10 elementi -->
                {% endif %}
                
                <td>{{ perm }}</td>
    
                {% if forloop.last or forloop.counter|divisibleby:10 %}
                    </tr> <!-- Chiude la riga dopo 10 elementi -->
                {% endif %}
            {% empty %}
                <tr><td colspan="10">Nessun permesso individuale assegnato.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
    





 
<h3>Permessi ruolo dell'utente:</h3>



<table border="1">
    <tbody>
        {% for perm in permessi_ruolo %}
            {% if forloop.first or forloop.counter0|divisibleby:10 %}
                <tr> <!-- Inizia una nuova riga ogni 10 elementi -->
            {% endif %}
            
            <td>{{ perm }}</td>

            {% if forloop.last or forloop.counter|divisibleby:10 %}
                </tr> <!-- Chiude la riga dopo 10 elementi -->
            {% endif %}
        {% empty %}
            <tr><td colspan="10">Nessun permesso individuale assegnato.</td></tr>
        {% endfor %}
    </tbody>
</table>



    

</div>

<style>

    .white{
        background-color: white;
        padding: 20px;
    

    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        width: 10%;
    }
    
    tr {
        background-color: #f2f2f2;
    }
    

</style>

{% endblock content %}
