{% extends 'hrms_app/base.html' %}
{% block title %} Gestione dipendenti {% endblock title %}
{% block content %}

    <div class="container mt-5">
        <h3 class="text-center">Gestione Dipendente</h3>
        <form method="POST" action="{% url 'inserisci_dipendente' %}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="first_name" class="form-label">Nome</label>
                    <input type="text" class="form-control custom-input" id="first_name" name="first_name" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="last_name" class="form-label">Cognome</label>
                    <input type="text" class="form-control custom-input" id="last_name" name="last_name" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="fiscal_code" class="form-label">Codice Fiscale</label>
                    <input type="text" class="form-control custom-input" id="fiscal_code" name="fiscal_code" pattern="[A-Za-z0-9]{16}" title="Il Codice Fiscale deve contenere 16 caratteri alfanumerici" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="birthdate" class="form-label">Data di Nascita</label>
                    <input type="date" class="form-control custom-input" id="birthdate" name="birthdate" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="address" class="form-label">Indirizzo</label>
                    <input type="text" class="form-control custom-input" id="address" name="address" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="phone" class="form-label">Telefono</label>
                    <input type="text" class="form-control custom-input" id="phone" name="phone" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control custom-input" id="email" name="email" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="role" class="form-label">Ruolo</label>
                    <input type="text" class="form-control custom-input" id="role" name="role" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="documents" class="form-label">Carica Documenti</label>
                    <input type="file" class="form-control custom-input" id="documents" name="documents" accept="application/pdf, image/*">
                </div>
            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-outline-success btn-sm" style="border: 1px solid; border-radius: 0.25rem;">Aggiungi</button>
                <button type="submit" class="btn btn-outline-primary btn-sm">Modifica</button>
                <button type="submit" class="btn btn-outline-danger btn-sm">Elimina</button>
            </div>
        </form>
    </div>


{% endblock %} 
