{% extends 'hrms_app/base.html' %}
{% load static %}
{% block style %}
    <link href="{% static '/css/gestione_busta_paga.css' %}" type="text/css" rel="stylesheet">
{% endblock style %}         

{% block title %}Gestione busta paga{% endblock%}

{% block content %}

<div class="container mt-5">
 
    <!-- Form di ricerca dipendente -->
    <form method="POST" action="{% url 'gestione_busta_paga' %}" class="mb-3">
    {% csrf_token %}
        <div class="row g-2 align-items-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="input-group">
                    <input type="search" class="form-control" id="searchPerson" name="dipendente" placeholder="Inserisci il nome o cognome del dipendente" aria-label="Search">
                    <button type="submit" class="btn btn-primary">Cerca</button>
                </div>
            </div>
        </div>
    </form>  

    <!-- Tabella dei dipendenti -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Ruolo</th>
                    <th>Email</th>
                    <th>Operazioni</th>
                </tr>
            </thead>
            <tbody id="employeeList">
                {% for dipendente in lista_dipendenti %}                
                    <tr>                        
                        <td> {{ forloop.counter }} </td>
                        <td> {{ dipendente.first_name }} </td>
                        <td> {{ dipendente.last_name }} </td>
                        <td> {{ dipendente.ruolo }} </td>
                        <td> {{ dipendente.email }} </td>                       
                        <td>
                            <a class="btn btn-info btn-sm btn-custom" href="{% url 'visualizza_busta_paga' dipendente.id %}">Visualizza Buste Paga</a>
                            <button class="btn btn-success btn-sm btn-custom" onclick="carica_busta_paga({{ dipendente.id }})">⬆️ Carica Nuova Busta Paga</button>
                        </td>
                    </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>       

    <!-- Modal per caricare la busta paga -->
    <div class="modal" id="uploadPayslipModal" tabindex="-1" aria-labelledby="uploadPayslipModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadPayslipModalLabel">Carica Busta Paga {{ dipendente.id }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form id="uploadForm" action="{% url 'salva_busta_paga' %}" method="POST" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        <input id="dipendente_id" type="hidden" name="dipendente_id">

                        <div class="mb-3">                            
                            {{ form_carica_busta.mese }}
                        </div>                        
                        <div class="mb-3">                            
                            {{ form_carica_busta.anno }}
                        </div> 
                        <div class="mb-3">                            
                            {{ form_carica_busta.importo }}
                        </div>                        
                        <div class="mb-3">
                            {{ form_carica_busta.documento.label_tag }}
                            {{ form_carica_busta.documento }}   
                        </div>
                        <button type="submit" class="btn btn-success">💾 Salva</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">❌ Chiudi</button>
                </div>
            </div>
        </div>
    </div>  
    
{% block script %}
    <script type="text/javascript" src="{% static '/js/gestione_busta_paga.js' %}" defer></script>
{% endblock script %}

{% endblock %}