{% extends 'hrms_app/base.html' %}

{% block title %}Gestione busta paga{% endblock%}

{% block style %}

    <style>       

        .busta-paga-card {
            margin-top: 20px;
        }
    
        .busta-paga-list {
            margin-top: 10px;
            margin-bottom: 15px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
    
        .btn-custom {
            margin-right: 5px;
        }
    
        /* Centra il contenuto della tabella */
        .table th, .table td {
            text-align: center;
            vertical-align: middle; /* Centra verticalmente il contenuto */
        }
    
        /* Rimuove lo spazio in eccesso nella tabella */
        .table-responsive {
            padding: 0; /* Rimuove il padding in eccesso */
            margin-bottom: 0; /* Rimuove il margine in eccesso */
        }
    
    </style>

{% endblock%}

{% block content %}

<div class="container mt-5">
 
    <!-- Form di ricerca dipendente -->
    <form method="POST" action="{% url 'gestione_busta_paga' %}" class="mb-3">
    {% csrf_token %}
        <div class="row g-2 align-items-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="input-group">
                    <input type="search" class="form-control" id="searchPerson" name="dipendente" placeholder="Inserisci il nome o cognome del dipendente" aria-label="Search">
                    <button type="submit" class="btn btn-primary">Cerca</button>
                </div>
            </div>
        </div>
    </form>  

    <!-- Tabella dei dipendenti -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Ruolo</th>
                    <th>Email</th>
                    <th>Operazioni</th>
                </tr>
            </thead>
            <tbody id="employeeList">
                {% for dipendente in lista_dipendenti %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td> {{ dipendente.first_name }} </td>
                        <td> {{ dipendente.last_name }} </td>
                        <td> {{ dipendente.ruolo }} </td>
                        <td> {{ dipendente.email }} </td>                       
                        <td>                            
                            <a class="btn btn-info btn-sm btn-custom" href="{% url 'visualizza_busta_paga' dipendente.id %}">Visualizza Buste Paga</a>
                            <button class="btn btn-success btn-sm btn-custom" onclick="carica_busta_paga({{ dipendente.id }})">⬆️ Carica Busta Paga</button>                                   
                        </td>
                    </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>    

    <!-- Modal per visualizzare le buste paga -->
    <div class="modal" id="viewPayslipsModal" tabindex="-1" aria-labelledby="viewPayslipsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewPayslipsModalLabel">Buste Paga Dipendente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6 id="employeeNameModal"></h6>

                    <!-- Selezione mese e anno per filtro -->
                    <div class="mb-3">
                        <label for="monthYearFilter" class="form-label">Filtra per mese e anno</label>
                        <input type="month" id="monthYearFilter" class="form-control" onchange="filterPayslips()">
                    </div>

                    {% for busta_paga in elenco_buste_paga %} 
                        {{ busta_paga.dipendente }}
                        {{ busta_paga.data_emissione }}        
                        {{ form_carica_busta.mese }} {{ form_carica_busta.anno }} {{ busta_paga.mese }}
                        {{ busta_paga.anno }}
                        {{ busta_paga.importo }}
                        {{ busta_paga.documento }} 
                    {% endfor %}

                    <div id="payslipsList"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal per caricare la busta paga -->
    <div class="modal" id="uploadPayslipModal" tabindex="-1" aria-labelledby="uploadPayslipModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadPayslipModalLabel">Carica Busta Paga {{ dipendente.id }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="uploadForm" action="{% url 'salva_busta_paga' %}" method="POST" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        <input id="dipendente_id" type="hidden" name="dipendente_id">
                        <div class="mb-3">                            
                            {{ form_carica_busta.mese }}
                        </div>                        
                        <div class="mb-3">                            
                            {{ form_carica_busta.anno }}
                        </div> 
                        <div class="mb-3">                            
                            {{ form_carica_busta.importo }}
                        </div>                        
                        <div class="mb-3">
                            {{ form_carica_busta.documento.label_tag }}
                            {{ form_carica_busta.documento }}   
                        </div>
                        <button type="submit" class="btn btn-success">Carica</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Toast per conferma eliminazione -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="deleteToast" class="toast align-items-center text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <strong>Successo!</strong> La busta paga è stata eliminata con successo.
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

</div>

<script>

    // Funzione per caricare la busta paga
    function carica_busta_paga(ddipendente_i) {
        let modal = new bootstrap.Modal(document.getElementById('uploadPayslipModal'));
        modal.show();
        // Imposta l'ID del dipendente nel campo nascosto del form
        elemento_nascosto = document.getElementById('dipendente_id');
        elemento_nascosto.value = dipendente_id;       
    }


    // Funzione per visualizzare le buste paga di un dipendente
    function visualizza_busta_paga(dipendente_i) {
        let modal = new bootstrap.Modal(document.getElementById('viewPayslipsModal'));
        modal.show();

        


    }








    // Funzione per scaricare la busta paga
    function downloadPayslip(fileLink) {
        window.open(fileLink, '_blank');
    }

    // Funzione per condividere la busta paga via email
    function sharePayslip(fileLink) {
        let emailBody = `Ciao, ti invio la busta paga. Puoi scaricarla dal seguente link: ${fileLink}`;
        window.location.href = `mailto:?subject=Busta Paga&body=${encodeURIComponent(emailBody)}`;
    }

    // Funzione per visualizzare la busta paga
    function viewPayslipDetails(fileLink) {
        window.open(fileLink, '_blank');
    }

    // Funzione per eliminare la busta paga
function deletePayslip(fileLink) {
  if (confirm('Sei sicuro di voler eliminare questa busta paga?')) {
      showDeleteToast();

      // Trova il bottone cliccato e risali fino al contenitore della busta paga
      let payslipElement = event.target.closest('.busta-paga-list');
      
      if (payslipElement) {
          payslipElement.remove();
      } else {
          alert('Errore: impossibile trovare la busta paga da eliminare.');
      }
  }
}


    // Funzione per mostrare il toast di eliminazione
    function showDeleteToast() {
        var toast = new bootstrap.Toast(document.getElementById('deleteToast'));
        toast.show();
    }

    

    // Funzione di ricerca dipendente (simulata)
    function searchEmployee() {
        let searchValue = document.getElementById('searchEmployee').value.toLowerCase();
        let rows = document.getElementById('employeeList').getElementsByTagName('tr');
        
        Array.from(rows).forEach(row => {
            let name = row.cells[1].textContent.toLowerCase();
            let surname = row.cells[2].textContent.toLowerCase();
            let role = row.cells[3].textContent.toLowerCase();
            if (name.includes(searchValue) || surname.includes(searchValue) || role.includes(searchValue)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }

    // Funzione per filtrare le buste paga in base al mese e anno
    function filterPayslips() {
        let selectedMonthYear = document.getElementById('monthYearFilter').value;
        let payslips = document.querySelectorAll('.busta-paga-list');

        payslips.forEach(payslip => {
            let payslipPeriod = payslip.getAttribute('data-period');
            if (selectedMonthYear && !payslipPeriod.startsWith(selectedMonthYear)) {
                payslip.style.display = 'none';
            } else {
                payslip.style.display = '';
            }
        });
    }
</script>


{% endblock %}