
{% endblock %}{% extends 'hrms_app/base.html' %}
{% load static %}

{% block title %} Gestione Ferie e Permessi {% endblock title %}

{% block content %}
<div class="container-fluid d-flex flex-wrap main_container">

    <!-- Form per la richiesta dei permessi o ferie -->
    <div class="container section_container container_permessi">
    
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Tabella delle assenze richieste inevase -->
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm caption-top" style="font-size: 0.9rem;">
                        <caption class="elenco-titolo" style="font-size: 1.1rem; text-align: center;">
                            Elenco richieste
                        </caption>
                        <thead>
                            <tr style="font-size: 0.9rem;">
                                <th scope="col" style="width: 100px;">Nome</th>
                                <th scope="col" style="width: 100px;">Cognome</th>
                                <th scope="col" style="width: 50px;">Richiesta</th>
                                <th scope="col" style="width: 100px;">Data inizio</th>
                                <th scope="col" style="width: 100px;">Data fine</th>
                                <th scope="col" style="width: 50px;">Motivo</th>
                                <th scope="col" style="width: 50px;">Stato</th>
                                <th scope="col" style="width: 150px;">Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="{% url 'gestione_assenze' %}" method="POST">
                                {% csrf_token %}
                            <!-- Esempio Dipendente 1 -->
                            <tr style="font-size: 0.9rem;">
                                {% for richiesta in richieste %}
                                    <tr>
                                        <td>{{ richiesta.dipendente.first_name }}</td>
                                        <td>{{ richiesta.dipendente.last_name }}</td>
                                        <td>{{ richiesta.tipo }}</td>
                                        <td>{{ richiesta.data_orario_inizio }}</td>
                                        <td>{{ richiesta.data_orario_fine }}</td>
                                        <td>{{ richiesta.motivo }}</td>
                                        <td>
                                            <span class="badge {% if richiesta.stato == 'Approvato' %}bg-success{% elif richiesta.stato == 'Rifiutato' %}bg-danger{% else %}bg-warning{% endif %}">
                                                {{ richiesta.stato }}
                                            </span>
                                        </td>
                                        <td>
                                            <a class="btn btn-success btn-sm" href="{% url 'approva_richiesta' richiesta.id %}" onclick="return confirmAction('approva');">Approva</a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'rifiuta_richiesta' richiesta.id %}" onclick="return confirmAction('rifiuta');">Rifiuta</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tr>
                            </form>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal di conferma -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Conferma azione</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalMessage" style="font-size: 1rem;">
        Sei sicuro di voler approvare questa richiesta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" id="confirmButton">Conferma</button>
      </div>
    </div>
  </div>
</div>

<script>
  function confirmAction(action, requestId) {
    let actionText = (action === 'approva') ? 'approvare' : 'rifiutare';
    let confirmMessage = 'Sei sicuro di voler ' + actionText + ' questa richiesta?';

    if (!confirm("Sei sicuro di" + actionText +  "questa richiesta?")) {
        event.preventDefault();  // Blocca il redirect se l'utente preme "No"
    }
    

}
</script>
