
{% extends 'hrms_app/base.html' %}
{% load static %}

{% block title %} Gestione Ferie e Permessi {% endblock title %}

{% block content %}
<div class="container-fluid d-flex flex-wrap main_container">

    <!-- Modal "Work in Progress" -->
    <div class="modal fade" id="workInProgressModal" tabindex="-1" aria-labelledby="workInProgressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="workInProgressModalLabel">Work in Progress</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size: 1rem;">
            Ci scusiamo per il disagio, ma questa funzionalità non è ancora disponibile
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
        </div>
    </div>
  

    <!-- Form per la richiesta dei permessi o ferie -->
    <div class="container section_container container_permessi">
        <div class="container">
            <div class="centered-content mb-4 text-center">
                <h1>Elenco richieste</h1>
            </div>
    
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Tabella delle assenze richieste inevase -->
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm caption-top">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 100px;" class="text-start">Nome</th>
                                <th scope="col" style="width: 100px;" class="text-start">Cognome</th>
                                <th scope="col" style="width: 50px;" class="text-start">Richiesta</th>
                                <th scope="col" style="width: 110px;" class="text-start">Data inizio</th>
                                <th scope="col" style="width: 110px;" class="text-start">Data fine</th>
                                <th scope="col" style="width: 120px;" class="text-start">Motivo</th> <!-- Maggiore larghezza per la colonna Motivo -->
                                <th scope="col" style="width: 50px;" class="text-start">Stato</th>
                                <th scope="col" class="text-center" style="width: 120px;">Azioni</th> <!-- Colonna Azioni più stretta -->
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in dipendenti %}
                              <!-- Itera sulle ferie -->
                              {% for ferie in item.ferie %}
                              <tr>
                                <td class="text-start">{{ item.dipendente.first_name }}</td>
                                <td class="text-start">{{ item.dipendente.last_name }}</td>
                                <td class="text-start">Ferie</td>
                                <td class="text-start">{{ ferie.data_inizio }}</td>
                                <td class="text-start">{{ ferie.data_fine }}</td>
                                <td class="text-start">{{ ferie.motivo|default:"-" }}</td>
                                <td class="text-start"><span class="badge bg-warning">{{ ferie.stato }}</span></td>
                                <td class="text-center">
                                  <a class="btn btn-success btn-sm" href="javascript:void(0);" onclick="confirmAction('approva', {{ ferie.id }})">Approva</a>
                                  <a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="confirmAction('rifiuta', {{ ferie.id }})">Rifiuta</a>
                                </td>
                              </tr>
                              {% empty %}
                              <tr>
                                <td colspan="8" class="text-center">Nessuna ferie trovata.</td>
                              </tr>
                              {% endfor %}
                          
                              <!-- Itera sui permessi -->
                              {% for permesso in item.permessi %}
                              <tr>
                                <td class="text-start">{{ item.dipendente.first_name }}</td>
                                <td class="text-start">{{ item.dipendente.last_name }}</td>
                                <td class="text-start">Permesso</td>
                                <td class="text-start">{{ permesso.data_ora_inizio }}</td>
                                <td class="text-start">{{ permesso.data_ora_fine }}</td>
                                <td class="text-start">{{ permesso.motivo|default:"-" }}</td>
                                <td class="text-start"><span class="badge bg-warning">{{ permesso.stato }}</span></td>
                                <td class="text-center">
                                  <a class="btn btn-success btn-sm" href="javascript:void(0);" onclick="confirmAction('approva', {{ permesso.id }})">Approva</a>
                                  <a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="confirmAction('rifiuta', {{ permesso.id }})">Rifiuta</a>


                                </td>
                              </tr>
                              {% empty %}
                              <tr>
                                <td colspan="8" class="text-center">Nessun permesso trovato.</td>
                              </tr>
                              {% endfor %}
                            {% empty %}
                            <tr>
                              <td colspan="8" class="text-center">Nessun dipendente trovato.</td>
                            </tr>
                            {% endfor %}
                          </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

    <!-- Modal di conferma -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Conferma azione</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalMessage" style="font-size: 1rem;">
            Sei sicuro di voler approvare questa richiesta?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-primary" id="confirmButton">Conferma</button>
        </div>
        </div>
    </div>
    </div>

<script>
  function confirmAction(action, requestId) {
    let actionText = (action === 'approva') ? 'approvare' : 'rifiutare';
    let confirmMessage = 'Sei sicuro di voler ' + actionText + ' questa richiesta?';

    if (!confirm("Sei sicuro di voler " + actionText +  " questa richiesta?")) {
        event.preventDefault();  // Blocca il redirect se l'utente preme "No"
    }
    
 
  
}

</script>
{% endblock %}