{% extends 'hrms_app/base.html' %}
{% load static %}
{% block style %}
    <link href="{% static '/css/gestione_dipendenti.css' %}" type="text/css" rel="stylesheet">
{% endblock style %}   
{% block title %} Lista Dipendenti {% endblock title %}
{% block content %}



<div class="container mt-2">
   <div class="card"> 
        <div class="card-header text-center">
            <h3>Lista Dipendenti</h3>
            <a href="{% url 'aggiungi_dipendente' %}" class="btn btn-primary" type="submit">Aggiungi Dipendente</a>
        </div>
        
        <br>

        <div class="card">
            <!-- Barra di ricerca e pulsante "Crea Dipendente" -->
                <div class="card-body">
                    <div class="container-fluid">
                        <!-- Form di ricerca con larghezza dimezzata -->
                        <form method="POST" action="{% url 'gestione_dipendenti' %}">
                            {% csrf_token %}
                            <div class="search-container">
                                <input type="search" class="form-control" id="searchPerson" name="dipendente" placeholder="Cerca per nome..." aria-label="Search">
                                <button type="submit" class="btn btn-primary">Cerca</button>
                            </div>
                        </form>
                    </div>

            {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags %}
                    {% if 'error' in message.tags %}
                        alert-danger
                    {% else %}
                        alert-{{ message.tags }}
                    {% endif %}
                {% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
                    
                    <!-- Lista delle persone in colonna -->
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <ol class="dipendente-list" id="personList1">
                                {% for dipendente in dipendenti|slice:":10" %}
                                    <li class="list-group-item">
                                        <a href="{% url 'modifica_dipendente' dipendente.id %}">
                                            <strong>{{ dipendente.nome }} {{ dipendente.cognome }}</strong>
                                        </a>
                                        <div>
                                            <small class="role">({{ dipendente.ruolo }})</small>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>          
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}
