{% extends 'hrms_app/base.html' %}
{% load static %}
{% block style %}
    <link href="{% static '/css/home.css' %}" type="text/css" rel="stylesheet">
{% endblock style %}        

{% block title %} Home {% endblock title %}

{% block script %}
    <script type="text/javascript" src="{% static '/js/home.js' %}" defer></script>
{% endblock script %}

{% block content %}

<!-- Contenitore generale homepage -->
<div class="container-fluid d-flex flex-wrap main_container">

    <!-- Visualizza la bacheca -->
    <div class="container-fluid section_container container_messaggi">
        {% for messaggio_bacheca in messaggi_bacheca %}
            <h5>{{ messaggio_bacheca.titolo }}</h5>
            <p>{{ messaggio_bacheca.messaggio }}</p>
        {% endfor %}
    </div>
    
    <!-- Form per la timbratura delle presenze -->
    <div class="container section_container container_timbrature">

        <!-- Orologio -->
        <div class="orologio">
            <span id="data" class="orologio_data"></span><br>
            <span id="ora" class="orologio_ora"></span>        
        </div>
        
        <!-- Pulsante di timbratura -->

        <form action="{% url 'gestione_timbratura' %}" method="POST">
            {% csrf_token %}       
            <button type="submit" class="btn btn-primary btn-large button_timbra">   
                {{ button_timbra }}
            </button>
        </form>

        <!--Tabella delle timbrature del giorno-->
        <div class="table-responsive">
            <table class="table table-sm caption-top" style="margin-bottom:0">
                <caption class="caption_timbra">Lista timbrature</caption>
                <thead>
                    <tr>
                        <th scope="col">Entrata</th>
                        <th scope="col">Uscita</th>           
                    </tr>
                </thead>
            </table>
            <div style="max-height: 85px; overflow-Y: auto">
                <table class="table table-sm" style="margin-bottom:0">
                    <tbody>
                        {% for presenza in lista_presenze %}
                            <tr>
                                <td> {{ presenza.ora_ingresso|date:"H:i" }} </td>
                                <td> {{ presenza.ora_uscita|date:"H:i" }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Messaggio di errore -->
        {% if messaggio_errore %}
            <p style="font-size: small"> {{ messaggio_errore }} </p>
        {% endif %}
    </div>    
    
    <!-- Form per la richiesta dei permessi o ferie -->
    <div class="container section_container container_permessi" style="">

        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Errore!</strong>
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li><strong>{{ field.label }}:</strong>
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form action="{% url 'richiesta_permessi_ferie' %}" method="POST" autocomplete="off">
            {% csrf_token %} 
            <h4>Richiesta Assenze</h4>
            
            <div class="tipo_richiesta">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="flexRadioDefault1" name="tipo_permesso" value="ferie" onchange="change_status()" checked>
                    <label class="form-check-label" for="flexRadioDefault1">Ferie</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="flexRadioDefault2" name="tipo_permesso" value="permesso" onchange="change_status()">
                    <label class="form-check-label" for="flexRadioDefault2">Permesso</label>
                </div>
                <div class="form-check">            
                    <input class="form-check-input" type="radio" id="flexRadioDefault3" name="tipo_permesso" value="permesso_nr" onchange="change_status()">
                    <label class="form-check-label" for="flexRadioDefault3">Permesso non retribuito</label>
                </div>
            </div>

            <div class="form-group">                
                {{ form.data_inizio.label_tag }}
                {{ form.data_inizio }}
                {{ form.ora_inizio.label_tag }}
                {{ form.ora_inizio }}                
             </div>
             
             <div class="form-group">                
                {{ form.data_fine.label_tag }}
                {{ form.data_fine }}
                {{ form.ora_fine.label_tag }}
                {{ form.ora_fine }}                
            </div>

            <div class="form-group">
                {{ form.motivo.label_tag }}
                {{ form.motivo }}
            </div>
           
            <button type="submit" class="btn btn-primary">Invia Richiesta</button>
        </form>
        
        <!--Tabella delle assenze richieste inevase-->
        <table class="table table-sm caption-top" style="width: 100%; margin-bottom: 0px">
            <caption style="font-size: small; padding: 0px; text-align: center">Elenco richieste inevase</caption>
            <thead>
                <tr style="font-size: small">
                    <th scope="col" style="width: 50px">Richiesta</th>
                    <th scope="col" style="width: 100px">Data inizio</th> 
                    <th scope="col" style="width: 100px">Data fine</th>
                    <th scope="col" style="width: 50px">Motivo</th>
                    <th scope="col" style="width: 50px">Stato</th>          
                </tr>
            </thead>
        </table>
        <div style="max-height: 83px; overflow-Y: auto">
            <table class="table table-sm" style="width: 100%">
                <tbody>
                    {% for ferie in lista_ferie %}
                        <tr style="font-size: small">
                            <td style="width: 50px"> Ferie </td>
                            <td style="width: 100px"> {{ ferie.data_inizio|date:"d/m/Y" }} </td>
                            <td style="width: 100px"> {{ ferie.data_fine|date:"d/m/Y" }} </td>
                            <td style="width: 50px"></td>
                            <td style="width: 50px"> {{ ferie.stato }} </td>
                        </tr>
                    {% endfor %}

                    {% for permessi in lista_permessi %}
                        <tr style="font-size: small">
                            <td style="width: 50px">
                                {% if permessi.retribuito == True %}
                                    Permesso
                                {% else %}
                                    Permesso nr 
                                {% endif %}
                            </td>
                            <td style="width: 100px"> {{ permessi.data_ora_inizio|date:"d/m/Y h:m" }} </td>
                            <td style="width: 100px"> {{ permessi.data_ora_fine|date:"d/m/Y h:m" }} </td>
                            <td style="width: 50px"> {{ permessi.motivo }} </td>
                            <td style="width: 50px"> {{ permessi.stato }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
                
    </div> 

</div>



{% endblock %}

