{% extends 'hrms_app/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
    <!-- Form di login -->
    <div class="login-container" style="background-color: white; padding: 60px 60px; opacity: 90%; border-radius: 10px; max-width: 450px;">
        
        <h2 class="text-center mb-1 mt-0">Login</h2>
            
        {% if messages %}
        <div class="alert alert-danger">
            {% for m in messages %}
                <p>{{m}}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="mb-3 mt-4">
                <input type="text" class="form-control" id="email" name="email" placeholder="Inserisci email" required>
            </div>
            
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Inserisci password" required>
            </div>

            <button type="submit" class="btn btn-outline-primary w-100 mb-4">Login</button>
        </form>

        <p class="text-center mt-2">
            Non hai un account? <a href="{% url 'registrati' %}">Registrati</a>
        </p>

        <p class="text-center mt-3">
            <a href="{% url 'reset_password' %}">Hai dimenticato la password?</a>
        </p>

    </div>
</div>
{% endblock content %}
