{% extends 'hrms_app/base.html' %}
{% block title %} Gestione Presenze {% endblock title %}
{% block content %}
<div>
    <div class="login-container" style="background-color: white; padding: 15px 50px; opacity: 90%; border-radius: 20px">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}  {# Rende il form con paragrafi  #}
            
            <button type="submit" class="btn btn-primary w-100">Registrati</button>
        </form>
    </div>
    <div>
        <p class="text-center mt-3">
            Already have an account? <a href="{% url 'login' %}">Login</a> 
        </p>
    </div>
</div>    
{% endblock %}