{% extends 'hrms_app/base.html' %}
{% load static %}
{% block style %}
    <link href="{% static '/css/report.css' %}" type="text/css" rel="stylesheet">
{% endblock style %}  
{% block title %} Report Dipendenti {% endblock title %}
{% block content %}



  <div class="container">
    <!-- Card per il form di ricerca -->
    <div class="card mt-4 shadow-sm">
      <div class="card-header text-dark">
        <h3 class="card-title">Gestione Report</h3>
      </div>
      <div class="card-body">

       
        
        <form id="searchForm" class="form-container" method="POST" action="{% url 'gestione_dipendenti' %}">
          {% csrf_token %}
          <label for="ricerca-dipendente" class="form-label">Ricerca Dipendente</label>
            <input type="text" name="dipendente" class="form-control" id="ricerca-dipendente" placeholder="Cerca per nome o cognome">
            <div id="suggerimenti" class="list-group mt-2" style="display: none;"></div>
              <input type="hidden" name="origine_form" value="report">
          <button type="submit" class="btn btn-primary">Cerca Dipendente</button>
        </form>
      
      </div>
    </div>

    <!-- Card per la selezione del dipendente e report mensile -->
    <div class="card mt-4 shadow-sm">
      <div class="card-body">
        
        <form id="searchForm" class="form-container" method="POST" action="{% url 'report_mensile' %}">
          {% csrf_token %}
          
          {% if dipendenti %}
            <h6>Seleziona il dipendente da assegnare</h6>
            <div class="row mt-4">
              <div class="col-12 col-sm-6 col-md-3">
                <ul class="list-group" id="personList1">
                  {% for dipendente in dipendenti|slice:":10" %}
                    <li class="form-check">
                      <input class="form-check-input" type="radio" name="dipendente" value="{{ dipendente.id }}" id="flexRadioDefault1"
                      {% if forloop.first %}checked{% endif %}>
                      <label class="form-check-label" for="flexRadioDefault1">
                        {{ dipendente.nome }} {{ dipendente.cognome }}
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>  
          {% endif %}
          
          <div class="col-12 col-sm-6 col-md-3">
            <label for="month">Mese</label>
            <select id="month" name="month" class="form-select">    
              <option value="1">Gennaio</option>
              <option value="2">Febbraio</option>
              <option value="3">Marzo</option>
              <option value="4">Aprile</option>
              <option value="5">Maggio</option>
              <option value="6">Giugno</option>
              <option value="7">Luglio</option>
              <option value="8">Agosto</option>
              <option value="9">Settembre</option>
              <option value="10">Ottobre</option>
              <option value="11">Novembre</option>
              <option value="12">Dicembre</option>
            </select>
          </div>

          <div class="col-12 col-sm-6 col-md-3">
            <label for="selectedYear">Seleziona un anno:</label>
            <select id="selectedYear" name="year"  class="form-select"></select>
          </div>

          {% if dipendenti %}
          <div class="col-12 col-sm-6 col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Cerca Report</button>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  

  <!-- Tabella dei dipendenti -->
  <div class="card mt-4 shadow-sm">
    <div class="card-body">

      

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Dipendente</th>
              <th>Ore lavorate</th>
              <th>Ore di permessi</th>
              <th>Ferie previste</th>
              <th>Ferie approvate</th>
              
              
            </tr>
          </thead>


          <tbody>
            {% if report %}
           
              <tr>
                <td>{{ dipendente.nome }} {{ dipendente.cognome }}</td>
                <td>{{ report.ore_totali_presenze }}</td>
                <td>{{ report.ore_totali_permessi }}</td>
                <td>{{ report.giorni_totali_ferie_approvate }}</td>
                <td>{{ report.giorni_totali_ferie_previste }}</td>
                  </tr>
            {% else %}
              <tr>
                <td colspan="6" class="text-center">Nessun dipendente trovato con i criteri selezionati.</td>
              </tr>
            {% endif %}
          </tbody>


        </table>
      </div>
    </div>
  </div>

</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const select = document.getElementById("selectedYear");
    const startYear = 2000;
    const currentYear = new Date().getFullYear();

    for (let year = startYear; year <= currentYear + 50; year++) {
      let option = document.createElement("option");
      option.value = year; // Imposta correttamente il valore
      option.textContent = year;
      select.appendChild(option);
    }

    // Seleziona automaticamente l'anno corrente
    select.value = currentYear;
  });
</script>

{% endblock %}
