{% extends 'hrms_app/base.html' %}
{% block title %} Report Dipendenti {% endblock title %}
{% block content %}

  <style>
    .card {
      max-width: 100%;
      margin: 0 auto;
    }
    .form-container {
      margin-bottom: 20px;
    }
    .form-container input, .form-container select, .form-container button {
      margin: 5px;
      padding: 10px;
      font-size: 14px;
    }
    /* Tabella responsive */
    .table-responsive {
      overflow-x: auto;
    }
  </style>

  <div class="container">
    <!-- Card per il form di ricerca -->
    <div class="card mt-4 shadow-sm">
      <div class="card-header text-dark">
        <h3 class="card-title">Gestione Report</h3>
      </div>
      <div class="card-body">
        <form id="searchForm" class="form-container" method="POST" action="{% url 'gestione_dipendenti' %}">
          {% csrf_token %}
          <label for="ricerca-dipendente" class="form-label">Ricerca Dipendente</label>
          <input type="text" name="dipendente" class="form-control" id="ricerca-dipendente" placeholder="Cerca per nome o cognome">
          <div id="suggerimenti" class="list-group mt-2" style="display: none;"></div>
          <input type="hidden" name="origine_form" value="report">
          <button type="submit" class="btn btn-primary">Cerca Dipendente</button>
        </form>
      </div>
    </div>

    <!-- Card per la selezione del dipendente e report mensile -->
    <div class="card mt-4 shadow-sm">
      <div class="card-body">
        
        <form id="searchForm" class="form-container" method="POST" action="{% url 'report_mensile' %}">
          {% csrf_token %}
          
          {% if dipendenti %}
            <h6>Seleziona il dipendente da assegnare</h6>
            <div class="row mt-4">
              <div class="col-12 col-sm-6 col-md-3">
                <ul class="list-group" id="personList1">
                  {% for dipendente in dipendenti|slice:":10" %}
                    <li class="form-check">
                      <input class="form-check-input" type="radio" name="dipendente" value="{{ dipendente.id }}" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        {{ dipendente.nome }} {{ dipendente.cognome }}
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>  
          {% endif %}
          
          <div class="col-12 col-sm-6 col-md-3">
            <label for="month">Mese:</label>
            <select id="month" name="month" class="form-select">
              <option value="">Seleziona mese</option>
              <option value="01">Gennaio</option>
              <option value="02">Febbraio</option>
              <option value="03">Marzo</option>
              <option value="04">Aprile</option>
              <option value="05">Maggio</option>
              <option value="06">Giugno</option>
              <option value="07">Luglio</option>
              <option value="08">Agosto</option>
              <option value="09">Settembre</option>
              <option value="10">Ottobre</option>
              <option value="11">Novembre</option>
              <option value="12">Dicembre</option>
            </select>
          </div>

          <div class="col-12 col-sm-6 col-md-3">
            <label for="selectedYear">Seleziona un anno:</label>
            <select id="selectedYear" name="year"  class="form-select"></select>
          </div>

          <div class="col-12 col-sm-6 col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Cerca Report</button>
          </div>
        </div>
      </form>
    </div>
  

  <!-- Tabella dei dipendenti -->
  <div class="card mt-4 shadow-sm">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Ore Lavorative</th>
              <th>Ferie</th>
              <th>Permessi</th>
              <th>Ore di Permesso Non Retribuite</th>
              <th>Tot. Ore Lavorative Effettive</th>
            </tr>
          </thead>
          <tbody>
            {% for dipendente in report_mensile %}
              <tr>
                <td>{{ dipendente.nome }}</td>
                <td>{{ dipendente.ore_lavorative }}</td>
                <td>{{ dipendente.ferie }}</td>
                <td>{{ dipendente.permessi }}</td>
                {% comment %} <td>{{ dipendente.ore_permesso_non_retribuite }}</td> {% endcomment %}
                {% comment %} <td>{{ dipendente.ore_effettive }}</td> {% endcomment %}
              </tr>
            {% empty %}
              <tr>
                <td colspan="6" class="text-center">Nessun dipendente trovato con i criteri selezionati.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const select = document.getElementById("selectedYear");
    const startYear = 2000;
    const currentYear = new Date().getFullYear();

    for (let year = startYear; year <= currentYear + 50; year++) {
      let option = document.createElement("option");
      option.value = year; // Imposta correttamente il valore
      option.textContent = year;
      select.appendChild(option);
    }

    // Seleziona automaticamente l'anno corrente
    select.value = currentYear;
  });
</script>

{% endblock %}
