{% extends 'hrms_app/base.html' %}
{% block title %}Reimposta Password{% endblock title %}
{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Reset Password</h3>
                    </div>
                    
                    <div class="container">
                        <h2>Reset Password</h2>
                        <p>Inserisci la tua email per ricevere il link di reset della password.</p>
                        
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <!--
                                 {{ form.as_p }}
                                Visualizza automaticamente i campi del form in <p> (paragrafi).
                                Django passa un oggetto form al template (RECUPERANDO CON AS_P IL CAMPO PasswordResetForm).
                           
                        -->
                            <button type="submit" class="btn btn-primary">Invia Email</button>
                        
                        </form>
                     </div>
                </div>
                <p class="text-center mt-3">
                    <a href="{% url 'login' %}">Back to login</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}