{% extends 'hrms_app/base.html' %}
{% block title %}Reimposta Password{% endblock title %}
{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12"> <!-- Card che occupa il 100% della larghezza su schermi piccoli -->
                <div class="card" style="min-height: 350px; display: flex; flex-direction: column; align-items: center; border-radius: 15px; background-color: rgba(255, 255, 255, 0.8);"> <!-- Card con sfondo trasparente -->
                    <div class="card-header text-center" style="width: 100%; padding: 20px 0;">
                        <h2 style="margin: 0;">Reimposta la password</h2>
                    </div>
                    
                    <div class="container p-4 d-flex flex-column" style="flex-grow: 1; width: 100%;"> 
                        <p class="text-center" style="font-size: 1.20rem; margin-bottom: 15px;">Inserisci la tua email per ricevere il link di reset della password</p>

                        <form method="post" style="margin-top: 15px;">
                            {% csrf_token %}
                            <div class="d-flex mb-3">
                                <div class="flex-grow-1 mr-2">
                                    <input type="email" name="email" class="form-control" placeholder="Inserisci la tua mail" required>
                                </div>
                                <div class="d-flex">
                                    <button type="submit" class="btn btn-primary">Invia Email</button>
                                </div>
                            </div>
                        </form>

                        <!-- Link centrato in basso -->
                        <p class="text-center mt-4">
                            <a href="{% url 'login' %}">Torna al login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
