{% extends 'hrms_app/base.html' %}
{% block title %}Verifica Email{% endblock title %}
{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12"> <!-- Card più stretta su dispositivi piccoli -->
                <div class="card" style="background-color: rgba(255, 255, 255, 0.8); border-radius: 15px;"> <!-- Card con sfondo trasparente e bordi arrotondati -->
                    <div class="card-header text-center">
                        <h2>Verifica la tua email</h2>
                    </div>
                    
                    <div class="container p-4"> <!-- Aggiunta la classe p-4 per padding -->
                        <p class="text-center" style="font-size: 1.25rem;">Abbiamo inviato un'email con le istruzioni per reimpostare la password</p>
                        
                        <form method="post">
                            {% csrf_token %}
                            <!-- Nessun campo di input perché il messaggio è stato modificato -->
                        </form>
                        
                        <p class="text-center mt-5">
                            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Indietro</a> <!-- Bottone più grande -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
